<html>
    <head>
		<link rel="stylesheet" type="text/css" href="static/styles.css">
        <title>Cache Comix</title>
    </head>
    <body>
    <h1>Under heavy redesign :/</h1>
 
	<p>I haz too many projects, but here have some throwback comix and dream of the day where I am independently wealthy and just work on all my side-projects. See more:
	<ul>
		<li><a href="/frondz">Frondz: NomeBot and FritzBot</a></li>
		<li><a href="http://nome.codes">Nome Codes.</a></li>
		<li><a href="http://verbverbgoose.org">Verb Verb Goose</a></li>
	</ul>
	<img src="static/images/2010-01-11-nutria.jpg" />
	<img src="static/images/2010-01-06.jpg" />
	<img src="static/images/2010-01-08.jpg" />
    </body>
</html>